<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <div class="signup-title">
      <% if params[:plan] == '2' %>
        <h1>Pro</h1>
        <p>Get instant access to contact information from divebuddies all around the world. </br> <strong>Only $4.99.</strong></p>
      <% else %>
        <h1>Basic </h1>
        <p>Get basic access to our awesome community.</p>
      <% end %>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <div class="well text">
    <h2 class="text-center">Sign up</h2>
      <% if params[:plan] == '2' %>
        <%= render "pro_form" %>
      <% else %>
        <%= render "basic_form" %>
      <% end %>
 
      
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>