<div class="text-center">
  <h2>About</h2>
  <br>
  <br>

  <p>Welcome! This is the friendliest dive community on the planet. 
  Sign up and get in touch to dive together in the most beautiful places.
  <br>
  
  </p>
</div>