<!DOCTYPE html>
<html>
    <head>
        
    </head>
    
    <body>
        <p> You have received a new message from your site's contact form! The sender is <%= "#{ @name }, #{ @email}." %></p>
        <p> <%= @body %> </p> 
    </body>
</html>