@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Karma);



body {
// background: #7474BF; /* fallback for old browsers */
// background: -webkit-linear-gradient(to left, #7474BF , #348AC7); /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to left, #7474BF , #348AC7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Karma', serif;
}

.image.responsive.home-bg {
  background-image: image-url("coral.jpg");
  background-size: 100%;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-notice {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
} 

.footer {
  text-align: center;
  color: #BFBFBF;
  left:0px;
  margin-top:20px;
  padding-top:5px;
  width:100%;
  background-color: none;
  font-weight: bold;

}


.jumbotron {
  background-color: #ECF0F1;
}


.jumbotron.text-center.well.col-md-8.col-md-offset-2 {
  padding: 50px;
  margin-top: 80px;
  margin-bottom: 60px;
  background-color: #ECF0F1;
  border: 4px solid white;
}

.well {
    border: 4px solid white;
}

.navbar-default {
  background-color: #4B77BE;
  border-color: #fff;
  color: #fff;
}

a {
  color: white;
  text-decoration: none;
}

.span.icon-bar {
  color:white;
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: white;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-default .navbar-nav > li > a {
  color: #fff !important;
  font-size: 16px;
  margin-top: 10px;
}

.navbar-default .navbar-nav > li > a {
  border: none;
}

.button.navbar-toggle.collapsed {
  color: white;
}

.btn.btn-default {
  background-color: #4B77BE;
  color: white;
  font-size: 21px;
}


#logo {
  margin-top: 15px;
  margin-bottom: 2px;
  float: left;
  margin-right: 30px;
  font-size: 2em;
  color: #fff;
  text-transform: none;
  letter-spacing: none;
  padding-top: 9px;
  font-weight: bold;
  background-color: none;
  
}

#logo:hover {
    color: white;
    font-size: 210%;
    text-decoration: none;
    background-color: none;
  }

.small-little {
  font-size: 14px !important;
  text-align: center;
  margin-top: 20px;
}

.col-md-12-hide {
  opacity: 0;
  background-color: none;
  padding-bottom: 30px;
}

//User Show Page//

.col-md-6.text-center {
  color: white;
}

.links.text-center a{
  color: black;
}

.links.text-center a:hover{
  color: black;
  font-weight: bold;
  text-decoration: none !important;
}

.signup-title{
  color:black;
  text-align: center;
}