/* Users show page styles */

.image.responsive.showuser-bg {
  background-image: image-url("indo.jpg");
  background-size: 100%;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  
}


.user-show-avatar {
  height: 200px;
  width: 200px;
  margin-top: 20px;
  
}


.well.profile-block {
    color: #000;
    h3 {
      margin-top: 0;
}
}
.well.profile-description {
  background-color: white;
  border-color: white;
}
.well.contact-info {
  background-color: white;
  border-color: white;
}

/* Users index page styles */
.user-index-avatar {
  border-radius: 0%;
  
}

.well.white-bg {
  background-color: white;
}