.job-title-icon {
  width: 35px;
  height: 30px;
  border: 1px solid black; 
  display: inline-block;
  border-radius: 4px;
  background-color: #669ab7;
  color: white;
  text-align: center;
}

.well.profile-block {
    color: #000;
    h3 {
      margin-top: 0;
}
}
.well.profile-description {
  background-color: #fff;
  border-color: #000;
}
.well.contact-info {
  background-color: #fff;
  border-color: #000;
}