/* Users show page styles */

.user-show-avatar {
  height: 128px;
  width: 128px;
  
}

.job-title-icon {
  width: 35px;
  height: 30px;
  border: 1px solid black; 
  display: inline-block;
  border-radius: 4px;
  background-color: #669ab7;
  color: white;
  text-align: center;
}

.well.profile-block {
    color: #000;
    h3 {
      margin-top: 0;
}
}
.well.profile-description {
  background-color: #888080;
  border-color: #000;
}
.well.contact-info {
  background-color: #fff;
  border-color: #000;
}

/* Users index page styles */
.user-index-avatar {
  border-radius: 50%;
}

.well.white-bg {
  background-color: white;
}